<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>All Courses</title>
<link th:replace="layouts :: css"/>
</head>
<body>
	<nav th:replace="layouts :: nav"></nav>

	<div class="container">
		<div class="row justify-content-center">
			<h2>List of Courses</h2>
		</div>
		<div class="row my-2">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<a th:href="@{/courses/new}" class="btn btn-primary">Add New Course</a>
		</div>
		<div class="col-md-2"></div>
			
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Course Title</th>
							<th>Number of Students</th>
							
							<th>Actions </th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="course : ${courses}">
							<td th:text="${course.title}" >
							<td th:text="${course.students.size()}" >
							<td style="display:flex; flex-direction:row;justify-content:space-between;">
							<a class="btn btn-sm btn-warning">Update</a>
							<!-- <a th:href="@{/students/delete/{id}(id=${student.studentId})}" class="btn btn-sm btn-danger">Delete</a> -->
							<form
							 onsubmit="confirm('Are you sure to delete?')" 
							  method="">
								<input type="submit" value="Delete" class="btn btn-sm btn-danger">
							</form>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
			<div class="col-md-2"></div>
		</div>
	</div>



</body>
</html>