<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Student</title>
    <link th:replace="layouts :: css">
</head>
<body>
    <nav th:replace="layouts :: nav"></nav>
    
    <div class="container">
    	<div class="row my-3 justify-content-center">
    		<h3 style="font-weight: 300;">Update Student Information</h3>
    	</div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <a th:href="@{/students}" class="btn btn-sm btn-danger mb-3">Back</a>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card p-3">
                <form th:action="@{/students/update/{id}(id=${student.studentId})}" th:object="${student}" method="POST">
                    <div class="form-group">
                        <label for="">First Name</label>
                        <input type="text" name="firstname" class="form-control" id="firstname" th:field="*{firstName}">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Last Name</label>
                        <input type="text" name="lastName" class="form-control" id="" th:field="*{lastName}">
                        <div th:if="${#fields.hasErrors('lastName')}" class="invalid-feedback" th:errors="*{lastName}"></div>
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" name="email" class="form-control" id="" th:field="*{email}">
                          <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                        </div>
                    </div>
                    
                     <div class="form-group">
                        <label for="">Course</label>
                        <select name="course" id="" th:field="*{course}" class="form-control">
                            <option th:each="course : ${courses}"  th:value="${course.courseId}" th:text="${course.title}">
                        </select>
                    </div>
                    
                    <div>
                        <input type="submit" value="Update" class="btn btn-warning btn-block">
                    </div>
                </form>
            </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>
</html>